body {
  background-color: black;
}

.instructional-text {
  font-family: 'Pangolin', cursive;
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

#title {
  font-family: 'Pangolin', cursive;
  color: white;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}

#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center
}

#game-board {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.result-text {
  color: white;
  font-size: 32px;
  font-family: 'Pangolin', cursive;
  text-align: center;
}

.hide {
  display: none;
}

#X h1 {
  font-family: 'Pangolin', cursive;
  color: white;
  text-align: center;
  font-size: 64px;
  font-weight: 600;
}

#O h1 {
  font-family: 'Pangolin', cursive;
  color: white;
  text-align: center;
  font-size: 64px;
  font-weight: 600;
}
