#board {
  margin: 0 auto;
}

.middle-cells {
  border: 1px solid black;
}

.middle-top {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.middle-bottom {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.middle-cell {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.outer-upper {
  border-bottom: 1px solid black;
}

/* #input { */
/*   display: 'flex'; */
/*   justify-content: 'center'; */
/*   align-items: 'center'; */
/* } */
