body {
  background-color: white;
}

.instructional-text {
  font-family: 'Pangolin', cursive;
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

#title {
  font-family: 'Pangolin', cursive;
  color: black;
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-board {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.result-text {
  color: black;
  font-size: 32px;
  font-family: 'Pangolin', cursive;
  text-align: center;
}

.hide {
  display: none;
}

#marker-selection {
  margin: 0 auto;
}

#board {
  width: 300px;
  height: 300px;
  background: url(http://en.fffuuu.net/Content/Templates/Empty/Comics_3x3.svg) center;
  background-size: 100%;
}

#marker-selection input {
  border: none;
  border-color: transparent;
  text-align: center;
  height: 100px;
  font-family: 'Pangolin';
  font-size: 56px;
}

#marker-selection input:focus {
  outline: none;
}
